extends layout

block content
    body
        .row.main
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td.head Title
                        td.head.right Start Date


            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head Replies
                        td.head.right Views

            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right Last Message
                            span.glyphicon.glyphicon-arrow-down

        .row
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td(style='white-space:pre;')
                            p.top| 60 Series Registry
                            p.bottom| Mike S, Apr 1, 2005
                        td.head.right PIN
            .col-md-2
                table(style="width: 100%")
                    tr
                        td(style='white-space:pre;')
                            p.replies| Replies:
                            p.bottom| Views:
                        td.head.right(style='white-space:pre;')
                            |2,599
                            p.views| 1,270,878
            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right(style='white-space:pre;')
                            p.top| hiluxsurf
                            p.bottom| Apr 29, 2014 at 6:57 PM
        hr
        .row
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td(style='white-space:pre;')
                            p.top| Project Build Up Directory
                            p.bottom| LCOwner, Jan 14, 2008
                        td.head.right PIN
            .col-md-2
                table(style="width: 100%")
                    tr
                        td(style='white-space:pre;')
                            p.replies| Replies:
                            p.bottom| Views:
                        td.head.right(style='white-space:pre;')
                            |77
                            p.views| 68,440
            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right(style='white-space:pre;')
                            p.top| The Phoenician
                            p.bottom| Apr 28, 2014 at 5:36 PM
        hr
        .row
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td(style='white-space:pre;')
                            p.top| CRUISER MECHANICS - Listed by State
                            p.bottom| ukaviator, Jan 9, 2010
                        td.head.right PIN
            .col-md-2
                table(style="width: 100%")
                    tr
                        td(style='white-space:pre;')
                            p.replies| Replies:
                            p.bottom| Views:
                        td.head.right(style='white-space:pre;')
                            |165
                            p.views| 78,143
            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right(style='white-space:pre;')
                            p.top| CEO714
                            p.bottom| Apr 24, 2014 at 11:55 AM
        hr
        .row
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td(style='white-space:pre;')
                            p.top| ROTW sign up sheet
                            p.bottom| Mace, Jul 5, 2007
                        td.head.right PIN
            .col-md-2
                table(style="width: 100%")
                    tr
                        td(style='white-space:pre;')
                            p.replies| Replies:
                            p.bottom| Views:
                        td.head.right(style='white-space:pre;')
                            |182
                            p.views| 53,175
            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right(style='white-space:pre;')
                            p.top| KWalkerM
                            p.bottom| Mar 30, 2014
        hr
        .row
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td(style='white-space:pre;')
                            p.top| Recommend a Cruiser Mechanic in your area
                            p.bottom| Mike S, Apr 23, 2005
                        td.head.right PIN
            .col-md-2
                table(style="width: 100%")
                    tr
                        td(style='white-space:pre;')
                            p.replies| Replies:
                            p.bottom| Views:
                        td.head.right(style='white-space:pre;')
                            | 420
                            p.views| 154,596
            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right(style='white-space:pre;')
                            p.top| BBECK
                            p.bottom| Mar 26, 2014
        hr
        .row
            .col-md-8
                table(style='width: 100%;')
                    tr
                        td(style='white-space:pre;')
                            p.top
                                a(href='/page2') FJ60 and FJ62 FAQ ************ start here and come back often *********
                            p.bottom| Mike S, Mar 23, 2004
                        td.head.right PIN
            .col-md-2
                table(style="width: 100%")
                    tr
                        td(style='white-space:pre;')
                            p.replies| Replies:
                            p.bottom| Views:
                        td.head.right(style='white-space:pre;')
                            |0
                            p.views| 173,085
            .col-md-2
                table(style="width: 100%")
                    tr
                        td.head.right(style='white-space:pre;')
                            p.top| Mike S
                            p.bottom| Mar 23, 2004
        hr