extends layout

block content
    h1.page3 Reply to Thread

    .row
        .col-md-8.col-md-offset-2
            textarea(rows='15', cols='135')
    hr.page3
    .row
        .col-md-8.col-md-offset-2.buttons
            button#btnSubmit(type="submit") Reply to Thread
            button#btnSubmit(type="submit") Attach File



