extends layout

block content
    body
        .row
            .col-md-1.page2

            .col-md-11.page2
                p OK. I'm finally getting around to it...
                p An informal registry for FJ60's, BJ60's, and HJ60's of all types - yes. 61's and 62's included...This will be a sticky thread
                p Rules of order - ONLY ONE post per vehicle - no comments on the thread or you will have me editing-which resembles work, to which I am averse.
                p What I would like you all to post... and please keep it brief, OK?
                p(style='white-space:pre;')
                    | 1. Year and model of vehicle
                    | 2. Name of owner
                    | 3. Name of vehicle (optional)
                    | 4. Mileage on the truck odometer
                    | 5. Modifications, if any
                    | 6. How you use the truck
                    | 7. A single photo - not very big, to save disk space
                p Be the first to register your truck
                p Mike S
        .row.page2
            .col-md-11.col-md-offset-1.page2
                p(style='white-space:pre;')
                    | '96 FZJ80, locked, Hannan sliders, ARB bumper, Kaymar rear with spare carrier, 45 gallon Longranger aux fuel tank, OBA, Hella 4000's, OME lift, 285/75/R16 Revos &
                    | AutoHome Maggiolina rooftop tent, etc.
                    | Custom Cruiser trailer with OverLand tent
                    br
                    a(href='http://.AutoHomeUS.com') www.AutoHomeUs.com
                    br
                    | TLCA Member #14874

        .row
            .col-md-11.col-md-offset-1.footer
                table(style="width: 100%")
                    tr
                        td Mike S, Apr 1, 2005 Report
                        td.footer.right #1
                            a(href="/page3")      Reply

